target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
DependencyStalkerGUI/src/main/resources/DepStalkerGUI/coverage/
DependencyStalkerREST/src/main/java/no/nb/depstalkrest/conf/
DependencyStalkerREST/src/main/resources/templates/
